.project {
  color: #232633;

}

.project :hover,
.project :focus {
  color: #232633;
  text-decoration: none;
}

.email a{
  color: #718177;
  padding-right: 60px;
}

.email :hover,
.email :focus {
  color: #232633;
  text-decoration: none;
}
.image{
  text-align: center;
}

.column{
  width: 500px;
  float: left;
}
